<ng-container *ngIf="movie">
  <a class="movie-item" [routerLink]="'/movie/' + movie.id">
    <div class="movie-item-rating">
      <i class="app-icons">star</i>
      <span>{{ movie.vote_average }}</span
      >/10
    </div>
    <div class="movie-item-image">
      <img
        [src]="imagesSizes.medium + movie.poster_path"
        alt=""
      />
    </div>
    <div class="movie-item-title">{{ movie.title }}</div>
  </a>
</ng-container>
<ng-container *ngIf="tv">
  <a class="movie-item" [routerLink]="'/tvshow/' + tv.id">
    <div class="movie-item-rating">
      <i class="app-icons">star</i>
      <span>{{ tv.vote_average }}</span
      >/10
    </div>
    <div class="movie-item-image">
      <img
        [src]="imagesSizes.medium + tv.poster_path"
        alt=""
      />
    </div>
    <div class="movie-item-title">{{ tv.name }}</div>
  </a>
</ng-container>
